/*!
 * https://www.touchacha.cn
 * Version - 4.0
 * Edited by tcc / 2021.09.09
 * Copyright © 2015-2021 版权所有 投查查
 */
@charset "utf-8";
.container{background: #f4f6fa;padding:26px 0 40px;margin-top:128px;}
.data{height:88px;box-shadow:0 0 10px #eee;border-radius:3px;padding:0 32px;background: #ffffff}
.data .data-w{float: left;margin-left: 45px;margin-top: 15px;}
.data .data-w .t{width: 98px;padding-top: 5px;float: left;}
.data .data-w .t .number{font-size: 30px;color: #296bef;font-family: Akrobat;line-height: 1;font-weight: bold;}
.data .data-w .t .h{font-size: 12px;color: #9ca4bc;margin-top: 2px;}
.data .data-w .x{margin-left: 5px;width: 154px;float: left;}
.data .data-z{float:left;margin-top:19px;}
.data .data-z h2{font-size:20px;color:#191c27;background:url(../images/data-z.png) left center no-repeat;padding-left:30px;background-size:22px auto;}
.data .data-z p{color:#9ca4bc;}

.data ul{float:left;margin:17px 0 0 55px;}
.data ul li{float:left;height:54px;margin-right:70px;}
.data ul li:nth-child(1){background:url(../images/data_1.png) left center no-repeat;padding:0 0 0 55px;background-size:40px auto;}
.data ul li:nth-child(2){background:url(../images/data_3.png) left center no-repeat;padding:0 0 0 55px;background-size:40px auto;}
.data ul li:nth-child(3){background:url(../images/data_4.png) left center no-repeat;padding:0 0 0 55px;background-size:40px auto;}
.data ul li:nth-child(4){border-right:0;background:url(../images/data_5.png) left center no-repeat;padding:0 0 0 55px;background-size:40px auto;margin-right:0;}
.data ul li p{font-size:14px;color:#9ca4bc;line-height:20px;}
.data ul li h2{font-size:30px;line-height:34px;color:#191c27;font-family:akrobat;}

.data .data-y{float:right;margin:28px 0 0 0;font-size:14px;width:112px;height:32px;text-align:center;}
.data .data-y .blue{display:block;width:112px;height:32px;line-height:32px;color:#fff;background:linear-gradient(to right, #1875f0, #1875f0);border-radius:32px;cursor:pointer;}
.data .data-y .blue:hover{box-shadow:0 0 6px #1875f0;background:linear-gradient(to right, #1875f0, #00a0ff);}
.data .data-y .gray{display:block;width:112px;height:32px;line-height:32px;color:#fff;background:#bbb;border-radius:32px;cursor:not-allowed;}

.index-jg .index-jg-hd{margin-top:31px;}

.index-jg-hd{height:32px;margin:34px 0 24px;}
.index-jg-hd h2{font-size:24px;float:left;color:rgba(0,0,0,0.88);line-height:32px;}
.index-jg-hd ul{float:left;font-size:16px;padding-left:42px;font-weight:bold;}
.index-jg-hd ul li{float:left;position:relative;margin-right:42px;cursor:pointer;transition:all 0.4s;color:rgba(0,0,0,0.56);line-height:29px;height:32px;}
.index-jg-hd ul li em{width:0;height:4px;background:#1875f0;position:absolute;left:50%;bottom:0;border-radius:2px;transition:all 0.3s;overflow:hidden;}
.index-jg-hd ul li.on,.index-jg-hd ul li:hover{color:rgba(0,0,0,1);}
.index-jg-hd ul li.on em,.index-jg-hd ul li:hover em{width:100%;left:0;}
.index-jg-hd ul li.nofree{color:#C49F6D;}
.index-jg-hd ul li.nofree em{background:#C49F6D;}
.index-jg-hd .more{font-size: 14px;color: #191c27;float: right;line-height: 32px;}
.index-jg-hd .more:hover{color: #1875f0}
.index-jg-hd .media{float:left;color:rgba(0,0,0,0.56);font-size:16px;font-weight:bold;position:relative;line-height:29px;height:32px;}
.index-jg-hd .media em{width:0;height:4px;background:#1875f0;position:absolute;left:50%;bottom:0;border-radius:2px;transition:all 0.3s;overflow:hidden;}
.index-jg-hd .media:hover{color:rgba(0,0,0,1);}
.index-jg-hd .media:hover em{width:100%;left:0;}

.index-jg-bd{border-radius:3px;padding:0 22px 8px;background: #fff;position:relative;}
.index-jg-bd .more-ranking{position:absolute;top:-51px;right:0;font-size:14px;}
.index-jg-bd .more-ranking a{color:#191c27;}
.index-jg-bd .more-ranking a:hover{color: #1875f0}

/*外汇行情*/
.index-jg-bd .dl1 dt{height: 48px;line-height: 48px;}
.index-jg-bd .dl1 dt p{float:left;font-size: 12px;color:#9ca4bc;text-align:center;}
.index-jg-bd .dl1 dt p:nth-child(1){width:22px;margin-left:10px;}
.index-jg-bd .dl1 dt p:nth-child(2){width: 242px;margin-left: 32px;text-align:left;}
.index-jg-bd .dl1 dt p:nth-child(3){width:150px;}
.index-jg-bd .dl1 dt p:nth-child(4){width:150px;}
.index-jg-bd .dl1 dt p:nth-child(5){width:150px;}
.index-jg-bd .dl1 dt p:nth-child(6){width:150px;}
.index-jg-bd .dl1 dt p:nth-child(7){width:150px;}
.index-jg-bd .dl1 dt p:nth-child(8){width:150px;}
.index-jg-bd .dl1 dt p:nth-child(9){width:150px;}
.index-jg-bd .dl1 dd{height: 56px;border-top:1px solid #f4f6fb;transition: all .5s;}
.index-jg-bd .dl1 dd .dd-a{display: block;float: left;}
.index-jg-bd .dl1 dd:hover{background:#f7f9fc;}
.index-jg-bd .dl1 dd .dd-a div{position: relative;}
.index-jg-bd .dl1 dd .dd-a div:nth-child(1){width:22px;margin-left: 10px;text-align:center;float:left;line-height: 56px;font-size:15px;font-family:Arial;color:#9ea5bb;}
.index-jg-bd .dl1 dd.p1:nth-of-type(1) div:nth-child(1){background:url(../images/num_bg1.png) center no-repeat;color:#fff;background-size:22px auto;}
.index-jg-bd .dl1 dd.p1:nth-of-type(2) div:nth-child(1){background:url(../images/num_bg2.png) center no-repeat;color:#fff;background-size:22px auto;}
.index-jg-bd .dl1 dd.p1:nth-of-type(3) div:nth-child(1){background:url(../images/num_bg3.png) center no-repeat;color:#fff;background-size:22px auto;}
.index-jg-bd .dl1 dd .second{width: 242px;height: 56px;margin-left: 26px;text-align:left;float:left;}
.index-jg-bd .dl1 dd .second a{display: block;height: 70px;}
.index-jg-bd .dl1 dd .second .svg{width:22px;height:24px;float:left;margin: 16px 0 0 0;position: relative;}
.index-jg-bd .dl1 dd .second .svg img:nth-child(1){width: 16px;height: 16px;position: absolute;top:-3px;left:-3px;z-index: 1;border-radius: 16px;border: 2px solid #fff;}
.index-jg-bd .dl1 dd .second .svg img:nth-child(2){width: 16px;height: 16px;position: absolute;bottom: 0;right: 0;border-radius: 16px;}
.index-jg-bd .dl1 dd .second .svg-2{width:22px;height:22px;float:left;margin: 17px 0 0 0;position: relative;}
.index-jg-bd .dl1 dd .second .svg-2 img{width: 22px;height: 22px;border-radius: 22px;}
.index-jg-bd .dl1 dd .second .rig{float:left;margin: 9px 0 0 16px;}
.index-jg-bd .dl1 dd .second .rig h2{font-size:14px;color:#296BEF;height:18px;line-height:18px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width:228px;font-weight: normal;}
.index-jg-bd .dl1 dd .second .rig img{width: 96px;height: auto;display: block;margin-top: 2px}
.index-jg-bd .dl1 dd .second .rig span{color:#9ea5bb;display:block;line-height:18px;margin-top:1px;}
.index-jg-bd .dl1 dd .dd-a div:nth-child(3){float:left;width: 150px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl1 dd .dd-a div:nth-child(4){float:left;width: 150px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl1 dd .dd-a div:nth-child(5){float:left;width: 150px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl1 dd .dd-a div:nth-child(6){float:left;width: 150px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl1 dd .dd-a div:nth-child(7){float:left;width: 150px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl1 dd .dd-a div:nth-child(8){float:left;width: 150px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl1 dd .dd-a div:nth-child(9){float:left;width: 150px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}

/*指数行情+期货行情*/
.index-jg-bd .dl2 dt{height: 48px;line-height:48px;}
.index-jg-bd .dl2 dt p{float:left;font-size:12px;color:#9ca4bc;text-align:center;}
.index-jg-bd .dl2 dt p:nth-child(1){width:22px;margin-left:10px;}
.index-jg-bd .dl2 dt p:nth-child(2){width: 242px;margin-left: 32px;text-align:left;}
.index-jg-bd .dl2 dt p:nth-child(3){width:142px;margin-left: 20px}
.index-jg-bd .dl2 dt p:nth-child(4){width:142px;margin-left:36px;}
.index-jg-bd .dl2 dt p:nth-child(5){width:142px;margin-left:36px;}
.index-jg-bd .dl2 dt p:nth-child(6){width:142px;margin-left:36px;}
.index-jg-bd .dl2 dt p:nth-child(7){width:142px;margin-left:36px;}
.index-jg-bd .dl2 dt p:nth-child(8){width:142px;margin-left:36px;}
.index-jg-bd .dl2 dd{height: 56px;border-top:1px solid #f4f6fb;transition: all .5s;}
.index-jg-bd .dl2 dd .dd-a{display: block;float: left;}
.index-jg-bd .dl2 dd:hover{background:#f7f9fc;}
.index-jg-bd .dl2 dd .dd-a div{position: relative;}
.index-jg-bd .dl2 dd .dd-a div:nth-child(1){width:22px;margin-left: 10px;text-align:center;float:left;line-height: 56px;font-size:15px;font-family:Arial;color:#9ea5bb;}
.index-jg-bd .dl2 dd.p1:nth-of-type(1) div:nth-child(1){background:url(../images/num_bg1.png) center no-repeat;color:#fff;background-size:22px auto;}
.index-jg-bd .dl2 dd.p1:nth-of-type(2) div:nth-child(1){background:url(../images/num_bg2.png) center no-repeat;color:#fff;background-size:22px auto;}
.index-jg-bd .dl2 dd.p1:nth-of-type(3) div:nth-child(1){background:url(../images/num_bg3.png) center no-repeat;color:#fff;background-size:22px auto;}
.index-jg-bd .dl2 dd .second{width: 242px;height: 56px;margin-left: 26px;text-align:left;float:left;}
.index-jg-bd .dl2 dd .second a{display: block;height: 70px;}
.index-jg-bd .dl2 dd .second .svg-2{width:22px;height:22px;float:left;margin: 17px 0 0 0;position: relative;}
.index-jg-bd .dl2 dd .second .svg-2 img{width: 22px;height: 22px;border-radius: 22px;}
.index-jg-bd .dl2 dd .second .rig{float:left;margin: 9px 0 0 16px;}
.index-jg-bd .dl2 dd .second .rig h2{font-size:14px;color:#296BEF;height:18px;line-height:18px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width:228px;font-weight: normal;}
.index-jg-bd .dl2 dd .second .rig img{width: 96px;height: auto;display: block;margin-top: 2px}
.index-jg-bd .dl2 dd .second .rig span{color:#9ea5bb;display:block;line-height:18px;margin-top:1px;}
.index-jg-bd .dl2 dd .dd-a div:nth-child(3){float:left;width: 142px;margin-left:20px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl2 dd .dd-a div:nth-child(4){float:left;width: 142px;margin-left:36px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl2 dd .dd-a div:nth-child(5){float:left;width: 142px;margin-left:36px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl2 dd .dd-a div:nth-child(6){float:left;width: 142px;margin-left:36px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl2 dd .dd-a div:nth-child(7){float:left;width: 142px;margin-left:36px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}
.index-jg-bd .dl2 dd .dd-a div:nth-child(8){float:left;width: 142px;margin-left:36px;font-size:14px;text-align:center;line-height: 56px;color: #191c27;height: 56px;}

.index-jg-bd .index-ad li{float:left;margin-right:12px;}
.index-jg-bd .index-ad li:last-child{margin-right:0;}
.index-jg-bd .index-ad li img{width:330px;height:80px;}
.index-jg-bd .index-ad li a{display:block;overflow:hidden;}
.index-jg-bd .index-ad li a:hover img{transform:scale(1.04);}

.index-jg-bd .cell-inner{transition: .2s ease-in-out;padding: 2px 4px;border-radius: 3px}

.index-jg-bd .fall{color: #01B930;}
.index-jg-bd .rise{color: #EF5350;}
.index-jg-bd .neutral{color: #999;}

.index-jg-bd .onrise{background: #DD5F5C;color: #fff}
.index-jg-bd .onfall{background: #48A276;color: #fff}

.index-hy-bd li{width: 286px;height:336px;float:left;margin-right:24px;margin-bottom:24px;padding:12px 23px 0;border-radius:5px;transition:all 0.4s;background: #fff;}
.index-hy-bd li .libox{transition:all 0.4s;}
.index-hy-bd li:nth-child(4n){float:right;margin-right:0;}
.index-hy-bd li:nth-child(5),.index-hy-bd li:nth-child(6),.index-hy-bd li:nth-child(7),.index-hy-bd li:nth-child(8){margin-bottom:0;}
.index-hy-bd li h3{font-size:18px;padding:12px 0 0;}
.index-hy-bd li h3 a{color:#191c27;display:block;height:54px;}
.index-hy-bd li h3 a:hover{color:#1875f0;}
.index-hy-bd li .date{width:100%;font-family:Arial;font-size:14px;color:#999;padding:9px 0 12px;}
.index-hy-bd li .p a{display:block;overflow:hidden;border-radius:8px;}
.index-hy-bd li .p img{width:286px;height:160px;border-radius:8px;}
.index-hy-bd li .p a:hover img{transform:scale(1.04);}
.index-hy-bd li .ott{width:100%;height:22px;line-height:22px;margin-top:22px;}
.index-hy-bd li .ott .img{float:left;position:relative;height:22px;line-height:22px;position:relative;}
.index-hy-bd li .ott .img .img-show{color:#999;display:block;}
.index-hy-bd li .ott .img img{float:left;border-radius:22px;}
.index-hy-bd li .ott .img p{float:left;margin-left:8px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;width:120px;height:22px;font-size:14px;}
.index-hy-bd li .ott .img .img-show:hover{color:#1875f0;}
.index-hy-bd li .ott .img .img-hide{width:402px;height:246px;position:absolute;left:-58px;bottom:22px;background:url(../images/popbox.png);padding:48px 51px 0;box-sizing:border-box;display:none;}
.index-hy-bd li .ott .img .img-hide-s{height:62px;}
.index-hy-bd li .ott .img .sleft{position:relative;height:62px;float:left;}
.index-hy-bd li .ott .img .sleft img{width:62px;height:62px;border-radius:62px;display:block;}
.index-hy-bd li .ott .img .sleft span{width:62px;height:20px;line-height:20px;border-radius:3px;text-align:center;font-size:12px;position:absolute;bottom:-4px;left:0;display:block;}
.index-hy-bd li .ott .img .sleft .s1{color:#844c12;background-image: linear-gradient(to right, #fcebd2, #e6bd8a);}
.index-hy-bd li .ott .img .sleft .s2{color:#fff;background-image: linear-gradient(to right, #f7913e, #ff713b);}
.index-hy-bd li .ott .img .smidd{float:left;margin-left:16px;}
.index-hy-bd li .ott .img .smidd h3{font-size:16px;color:#191c27;font-weight:normal;margin-top:-1px;width:134px;height:22px;line-height:22px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.index-hy-bd li .ott .img .smidd span{font-size:14px;color:#5a6073;}
.index-hy-bd li .ott .img .img-hide-s .gz{float:right;width:80px;height:40px;line-height:40px;text-align:center;background:#1875f0;color:#fff;font-size:14px;margin-top:11px;cursor:pointer;border-radius:5px;}
.index-hy-bd li .ott .img .img-hide-s .gz.on{background:#f5f7fd;color:#5a6073;}
.index-hy-bd li .ott .img .img-hide-s a{display:block;color:#fff;}
.index-hy-bd li .ott .img .img-hide-z{font-size:14px;color:#5a6073;margin:20px 0 16px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;height:22px;line-height:22px;}
.index-hy-bd li .ott .img .img-hide-z a:hover{color:#1875f0;}
.index-hy-bd li .ott .img .img-hide-x{}
.index-hy-bd li .ott .img .img-hide-x dt{width:33.333%;float:left;text-align:center;}
.index-hy-bd li .ott .img .img-hide-x dt h4{font-size:24px;color:#191c27;font-family:"akrobat";}
.index-hy-bd li .ott .img .img-hide-x dt span{color:#9ea5bb;display:block;}
.index-hy-bd li .ott .img:hover .img-hide{display:block;}

.index-hy-bd li .ott .detail-tel{float:right;position:relative;background:url(../images/detail_tel1.png) no-repeat;width:22px;height:22px;cursor:pointer;background-size:contain;}
.index-hy-bd li .ott .detail-tel:hover{background:url(../images/detail_tel2.png) no-repeat;background-size:contain;}
.index-hy-bd li .ott .detail-tel span{height:28px;line-height:28px;color:#fff;background:#fab000;font-family:Arial;font-size:15px;padding:0 12px;;z-index:10;
	border-radius:3px;position:absolute;top:26px;left:0;display:none;}
.index-hy-bd li .ott .detail-tel:hover span{display:block;}
.index-hy-bd li .ott .detail-wx{float:right;position:relative;z-index:999;margin-left:10px;background:url(../images/detail_wxx1.png) no-repeat;width:22px;height:22px;
	cursor:pointer;background-size:contain;}
.index-hy-bd li .ott .detail-wx img{border:5px solid #fff;position:absolute;top:26px;left:0;display:none;z-index:999;box-shadow:0 0 5px #bbb;border-radius:3px;}
.index-hy-bd li .ott .detail-wx:hover img{display:block;opacity:1 !important;}
.index-hy-bd li .ott .detail-wx:hover{background:url(../images/detail_wxx2.png) no-repeat;background-size:contain;}
.index-hy-bd li .ott .detail-wz{float:right;position:relative;margin-left:10px;background:url(../images/detail_wz1.png) no-repeat;width:22px;height:22px;cursor:pointer;background-size:contain;}
.index-hy-bd li .ott .detail-wz a{display:block;width:100%;height:100%;}
.index-hy-bd li .ott .detail-wz:hover{background:url(../images/detail_wz2.png) no-repeat;background-size:contain;}
.index-hy-bd li:hover{box-shadow:0 0 10px #ddd;}
.index-hy-bd li:hover .libox{margin-top:-8px;}
.index-hy-bd .hasnull{width:100%;height:456px;text-align:center;border-radius:5px;float: none;margin: 0;padding:0;}
.index-hy-bd .hasnull .pic{padding-top:116px;}
.index-hy-bd .hasnull p{font-size:16px;color:rgba(25, 28, 39, 0.56);margin:14px 0 32px;}
.index-hy-bd .hasnull a{width:98px;height:30px;line-height:30px;text-align:center;border-radius:32px;display:block;margin:0 auto;border:1px solid #1875f0;font-size:14px;color:#1875f0;}
.index-hy-bd .hasnull a:hover{background:#1875f0;color:#fff;}

.index-qa-bd .lArea{float: left;width: 1045px;background: #fff;height: 571px;}
.index-qa-bd .lArea .qa-hd-tit{padding: 0 24px;border-bottom: 1px solid #F4F6FB;height: 62px;}
.index-qa-bd .lArea .qa-hd-tit .more{display: block;float: right;font-size: 14px;color: #191C27;margin-top: 20px;}
.index-qa-bd .lArea .qa-hd-tit .more:hover{color: #296BEF}
.index-qa-bd .lArea .qa-hd-tit ul{float: left;}
.index-qa-bd .lArea .qa-hd-tit ul li{float: left;margin-right: 56px;position: relative;font-size: 18px;color: #191C27;line-height: 62px;transition: .5s ease;cursor: pointer;}
.index-qa-bd .lArea .qa-hd-tit ul li:last-child{margin-right: 0}
.index-qa-bd .lArea .qa-hd-tit ul li em{display: block;position: absolute;bottom: 0;left: 50%;width: 0;height: 4px;transition: .5s ease;background: #296BEF;opacity: 0;border-radius:2px;}
.index-qa-bd .lArea .qa-hd-tit ul li.on,.index-qa-bd .lArea .qa-hd-tit ul li:hover{color: #296BEF}
.index-qa-bd .lArea .qa-hd-tit ul li.on em{width: 100%;left: 0;opacity: 1}
.index-qa-bd .lArea .qa-list{padding: 0 24px;height: 455px;}
.index-qa-bd .lArea .qa-list .qa-item{padding: 13px 0;border-bottom: 1px solid #F4F6FB;}
.index-qa-bd .lArea .qa-list .qa-item:last-child{border-bottom: 0}
.index-qa-bd .lArea .qa-list .qa-item .analyst{float: left;width: 55px;}
.index-qa-bd .lArea .qa-list .qa-item .analyst .headPic{width: 55px;height: 55px;border-radius: 100%;overflow: hidden;}
.index-qa-bd .lArea .qa-list .qa-item .analyst .btn{margin-top: 6px;text-align: center;}
.index-qa-bd .lArea .qa-list .qa-item .analyst .btn a{font-size: 12px;color: #fff;display: inline-block;padding: 4px 7px;border-radius: 2px;background: #296BEF;}
.index-qa-bd .lArea .qa-list .qa-item .analyst .btn a:hover{background: #0f5ce0;}
.index-qa-bd .lArea .qa-list .qa-item .analyst .btn a.on{color: #999;background: #f5f5f5}
.index-qa-bd .lArea .qa-list .qa-item .analyst .btn a.on:hover{color: #999;background: #f5f5f5}
.index-qa-bd .lArea .qa-list .qa-item .txt{float: right;width: calc(100% - 74px)}
.index-qa-bd .lArea .qa-list .qa-item .txt .q{font-size: 14px;color: #191C27;padding-left: 32px;line-height: 24px;position: relative;}
.index-qa-bd .lArea .qa-list .qa-item .txt .q span{font-size: 14px;color: #5A6073}
.index-qa-bd .lArea .qa-list .qa-item .txt .q em{display: block;position: absolute;left: 0;top: 0;width: 24px;height: 24px;font-size: 14px;color: #FFFFFF;line-height: 22px;text-align: center;background: url(../images/ques_icon_01.png) no-repeat;background-size: 24px 24px;}
.index-qa-bd .lArea .qa-list .qa-item .txt .a{font-size: 14px;color: #191C27;padding-left: 32px;line-height: 24px;position: relative;margin-top: 10px;}
.index-qa-bd .lArea .qa-list .qa-item .txt .a span{font-size: 14px;color: #296BEF}
.index-qa-bd .lArea .qa-list .qa-item .txt .a em{display: block;position: absolute;left: 0;top: 0;width: 24px;height: 24px;line-height: 24px;border-radius: 2px;background: rgba(41, 107, 239, 0.05);font-size: 14px;color: #296BEF;text-align: center;}
.index-qa-bd .lArea .qa-list .qa-item .txt .t{margin-top: 12px;}
.index-qa-bd .lArea .qa-list .qa-item .txt .t .label{float: left;padding-left: 24px;font-size: 12px;color: #9EA5BB;background: url(../images/answer_label.png) no-repeat left center;line-height: 16px;background-size: 16px 16px;}
.index-qa-bd .lArea .qa-list .qa-item .txt .t .time{float: left;padding-left: 24px;font-size: 12px;color: #9EA5BB;background: url(../images/answer_time.png) no-repeat left center;line-height: 16px;background-size: 16px 16px;margin-left: 34px;}
.index-qa-bd .lArea .qa-list .an-item{padding: 13px 0;border-bottom: 1px solid #F4F6FB;}
.index-qa-bd .lArea .qa-list .an-item:last-child{border-bottom: 0}
.index-qa-bd .lArea .qa-list .an-item .analyst{float: left;width: 55px;}
.index-qa-bd .lArea .qa-list .an-item .analyst .headPic{width: 55px;height: 55px;border-radius: 100%;overflow: hidden;}
.index-qa-bd .lArea .qa-list .an-item .analyst .btn{margin-top: 6px;text-align: center;}
.index-qa-bd .lArea .qa-list .an-item .analyst .btn a{font-size: 12px;color: #fff;display: inline-block;padding: 4px 7px;border-radius: 2px;background: #296BEF;}
.index-qa-bd .lArea .qa-list .an-item .analyst .btn a:hover{background: #0f5ce0;}
.index-qa-bd .lArea .qa-list .an-item .analyst .btn a.on{color: #999;background: #f5f5f5}
.index-qa-bd .lArea .qa-list .an-item .analyst .btn a.on:hover{color: #999;background: #f5f5f5}
.index-qa-bd .lArea .qa-list .an-item .txt{float: right;width: calc(100% - 74px)}
.index-qa-bd .lArea .qa-list .an-item .txt .h a{font-size: 16px;color: #191C27;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.index-qa-bd .lArea .qa-list .an-item .txt .h a:hover{color: #296BEF}
.index-qa-bd .lArea .qa-list .an-item .txt .p{margin-top: 10px;font-size: 14px;color: #5A6073;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.index-qa-bd .lArea .qa-list .an-item .txt .t{margin-top: 12px;}
.index-qa-bd .lArea .qa-list .an-item .txt .t .label{float: left;padding-left: 24px;font-size: 12px;color: #9EA5BB;background: url(../images/answer_label.png) no-repeat left center;line-height: 16px;background-size: 16px 16px;}
.index-qa-bd .lArea .qa-list .an-item .txt .t .time{float: left;padding-left: 24px;font-size: 12px;color: #9EA5BB;background: url(../images/answer_time.png) no-repeat left center;line-height: 16px;background-size: 16px 16px;margin-left: 34px;}
.index-qa-bd .lArea .more{display: block;margin: 5px 24px;height: 40px;line-height: 40px;box-sizing: border-box;padding-left: 480px;font-size: 14px;color: #9ea5bb;background: url(../images/rank_more.png) no-repeat 457px center;background-size: 16px 16px;border-radius: 5px;}
.index-qa-bd .lArea .more:hover{background: url(../images/rank_more.png) no-repeat 457px center #F3F8FD;background-size: 16px 16px;}

.index-qa-bd .recommendBox{float: right;width: 332px;height: 571px;background: #fff;position: relative;}
.index-qa-bd .recommendBox .bd{}
.index-qa-bd .recommendBox .bd .item{padding: 24px 21px 0;}
.index-qa-bd .recommendBox .bd .adv{width: 290px;height: 160px;margin: 0 auto;border-radius: 4px;overflow: hidden;position:relative;}
.index-qa-bd .recommendBox .bd .adv .img{position: absolute;top: 0;left: 0;z-index: 1}
.index-qa-bd .recommendBox .bd .adv .txt{position: relative;z-index: 3;box-sizing: border-box;padding: 24px 0 0 22px}
.index-qa-bd .recommendBox .bd .adv .txt .name{font-size: 24px;color: #FFFFFF;font-weight: bold;}
.index-qa-bd .recommendBox .bd .adv .txt .p{font-size: 14px;color: rgba(255,255,255,.8);margin-top: 4px;}
.index-qa-bd .recommendBox .bd .adv .txt .t{font-size: 14px;color: #ECC9B9;margin-top: 19px;vertical-align: bottom;}
.index-qa-bd .recommendBox .bd .adv .txt .t em{font-size: 32px;font-weight: bold;font-family: Akrobat}
.index-qa-bd .recommendBox .bd .intro{font-size: 14px;color: #191C27;margin-top: 20px;line-height: 24px;padding: 0 3px;height: 168px;text-align:justify;}
.index-qa-bd .recommendBox .bd .dataM{margin-top: 20px;box-sizing: border-box;padding-top: 13px;border-top: 1px solid #F4F6FB}
.index-qa-bd .recommendBox .bd .dataM .data-t{float:left;width: 25%;position: relative;text-align: center;}
.index-qa-bd .recommendBox .bd .dataM .data-t .p{position: relative;}
.index-qa-bd .recommendBox .bd .dataM .data-t .data-change{cursor: pointer;display: inline-block;padding-right: 16px;background: url(../images/icon_radio.png) no-repeat right center;background-size: 14px 14px;}
.index-qa-bd .recommendBox .bd .dataM .data-t .data-one{display: inline-block;}
.index-qa-bd .recommendBox .bd .dataM .data-t .change-ul{position: absolute;top: 22px;left: 10px;right: 10px;background: #fff;border-radius: 4px;display: none;border: 1px solid #ebe4df;z-index: 10;}
.index-qa-bd .recommendBox .bd .dataM .data-t .change-ul li{font-size: 12px;padding: 5px 0;transition: all .5s;cursor: pointer;border-bottom: 1px solid #eee;}
.index-qa-bd .recommendBox .bd .dataM .data-t .change-ul li:last-child{border-bottom: 0}
.index-qa-bd .recommendBox .bd .dataM .data-t .change-ul li:hover{background: #296BEF;color: #fff}
.index-qa-bd .recommendBox .bd .dataM .data-w{float:left;width: 25%;position: relative;text-align: center;}
.index-qa-bd .recommendBox .bd .dataM .data-z{float:left;width: 25%;position: relative;text-align: center;}
.index-qa-bd .recommendBox .bd .dataM .h{font-size: 16px;color: #191C27;line-height: 24px;height: 24px;}
.index-qa-bd .recommendBox .bd .dataM .data-w .h{font-family: Akrobat;font-weight: bold;font-size: 22px;}
.index-qa-bd .recommendBox .bd .dataM .data-z .h{font-family: Akrobat;font-weight: bold;font-size: 22px;}
.index-qa-bd .recommendBox .bd .dataM .p{font-size: 12px;color: #9EA1A7;margin-bottom: 8px;}
.index-qa-bd .recommendBox .bd .btn{margin-top: 27px;}
.index-qa-bd .recommendBox .bd .btn a{display: block;font-size: 14px;color: #296BEF;height: 40px;line-height: 40px;border: 1px solid #296BEF;text-align: center;}
.index-qa-bd .recommendBox .bd .btn a:hover{background: #296BEF;color: #fff}
.index-qa-bd .recommendBox .hd{position: absolute;bottom: 20px;left: 50%;transform: translateX(-50%);}
.index-qa-bd .recommendBox .hd ul li{float: left;width: 16px;height: 6px;border-radius: 3px;background: #F5F5F5;margin: 0 2px;cursor: pointer;transition: .5s ease;text-indent: 999999px;}
.index-qa-bd .recommendBox .hd ul li.on{background: #296BEF;width: 32px;}

.index-zj-bd .u2 li{float:left;width:332px;margin:0 24px 24px 0;transition:all 0.4s;height:271px;position:relative;}
.index-zj-bd .u2 li:nth-child(4n){margin-right:0;}
.index-zj-bd .u2 li .libox{transition:all 0.3s;border-top: 3px solid #E9F0FF;border-radius:5px;background: #fff;position: relative;}
.index-zj-bd .u2 li:hover .libox{margin-top:-6px;box-shadow:0 0 10px #ddd;}
.index-zj-bd .u2 li .libox .i{position: absolute;z-index: 3;right: 18px;top:0;width: 40px;height: 52px;font-size: 12px;color: #FFFFFF;box-sizing: border-box;line-height: 16px;padding-top: 6px;text-align: center;}
.index-zj-bd .u2 li .libox .i-1{background: url(../images/tagbg_best.png) no-repeat;background-size: 100% 100%;}
.index-zj-bd .u2 li .libox .i-2{background: url(../images/tagbg_better.png) no-repeat;background-size: 100% 100%;}
.index-zj-bd .u2 li .libox .i-3{background: url(../images/tagbg_good.png) no-repeat;background-size: 100% 100%;}
.index-zj-bd .u2 li .libox .i-4{color: #9B6F34;background: url(../images/tagbg_pay.png) no-repeat;background-size: 100% 100%;}
.index-zj-bd .u2 li .libox .p{padding: 12px 24px;height: 72px;box-sizing: border-box;position: relative;}
.index-zj-bd .u2 li .libox .p::before{content: '';position: absolute;bottom: 0;left: 24px;right: 24px;height: 1px;background: #F4F6FB}
.index-zj-bd .u2 li .libox .p a{height: 49px;float: left;}
.index-zj-bd .u2 li .libox .p span{display: block;float: left;width: 48px;height: 48px;border-radius: 100%;overflow: hidden;}
.index-zj-bd .u2 li .libox .p span img{width: 100%;height: 100%}
.index-zj-bd .u2 li .libox .p .author{float: left;margin-left: 13px;}
.index-zj-bd .u2 li .libox .p .author h3{font-size: 14px;color: #5A6073;font-weight:normal;transition: all .3s;white-space: nowrap;text-overflow: ellipsis;padding-top: 1px;}
.index-zj-bd .u2 li .libox .p .author p{font-size: 14px;color: #5A6073;margin-top: 3px;}
.index-zj-bd .u2 li .libox .p a:hover .author h3{color: #1875f0}
.index-zj-bd .u2 li .libox .t{padding: 16px 24px 24px;height: 196px;box-sizing: border-box;}
.index-zj-bd .u2 li .libox .t a{display: block;}
.index-zj-bd .u2 li .libox .t a:hover h2{color:#1875f0;}
.index-zj-bd .u2 li .libox .t h2{height: 54px;font-size: 18px;color: #191C27;transition:all 0.5s;}
.index-zj-bd .u2 li .libox .t h2 em{width: 56px;height: 24px;line-height: 24px;text-align: center;background: ; background-image: linear-gradient(to right, #f9eddd, #efdec9);border-radius: 3px;font-size:12px;color:#9B6F34;font-weight: normal;float: left;margin:1px 5px 0 0;}
.index-zj-bd .u2 li .libox .t .cont{font-size: 14px;color: #868890;line-height: 24px;height: 48px;overflow: hidden;text-overflow: ellipsis;margin-top: 12px;}
.index-zj-bd .u2 li .libox .t .label{height:24px;line-height:24px;font-size:14px;margin-top: 18px;}
.index-zj-bd .u2 li .libox .t .label .b{line-height:24px;background:#f3f8fe;float:left;border-radius:3px;text-align:center;color:#1875f0;padding:0 11px;}
.index-zj-bd .u2 li .libox .t .label .b2{margin-left: 4px}
.index-zj-bd .u2 li .libox .t .label .rig1{float: right;color:#EF5350;}
.index-zj-bd .u2 li .libox .t .label .rig2{float: right;color:#01B930;}
.index-zj-bd .u2 li .libox .t .label .rig3{float: right;color:#9EA5BB;}

.index-zj-bd .u2 .hasnull{width:100%;height:456px;background:#fff;text-align:center;border-radius:5px;}
.index-zj-bd .u2 .hasnull .pic{padding-top:116px;}
.index-zj-bd .u2 .hasnull p{font-size:16px;color:rgba(25, 28, 39, 0.56);margin:14px 0 32px;}
.index-zj-bd .u2 .hasnull a{width:98px;height:30px;line-height:30px;text-align:center;border-radius:32px;display:block;margin:0 auto;border:1px solid #1875f0;font-size:14px;color:#1875f0;}
.index-zj-bd .u2 .hasnull a:hover{background:#1875f0;color:#fff;}

.index-ad img{border-radius: 5px;}

.index-fx{margin-top: 33px}
.index-fx .index-fx-y{float: left;width: 450px;position:relative;margin-right: 25px}
.index-fx .index-fx-y:last-child{margin-right: 0}
.index-fx h2{font-size: 22px;color: #000000;margin-bottom: 18px}
.index-fx .more{font-size:14px;position:absolute;top:6px;right:0;color:#191c27;}
.index-fx .more:hover{color:#1875f0;}
.index-fx .fx-main-box{background: #fff;border-radius: 6px;box-sizing: border-box;padding: 20px;height: 595px}
.index-fx .index-fx-hd .fx-menu{float: left;}
.index-fx .index-fx-hd .fx-menu a{float: left;font-size: 16px;color: #191c27;margin-right: 26px;position: relative;display: block;line-height: 22px;padding-bottom: 10px;cursor:pointer;}
.index-fx .index-fx-hd .fx-menu a em{width:0;height:4px;background:#296bef;display:block;position:absolute;left:50%;bottom: 0;border-radius:2px;overflow:hidden;transition:all 0.4s;}
.index-fx .index-fx-hd .fx-menu a:last-child{margin-right:0;}
.index-fx .index-fx-hd .fx-menu a:hover,.index-fx .index-fx-hd .fx-menu a.on{color:#296bef;}
.index-fx .index-fx-hd .fx-menu a:hover em,.index-fx .index-fx-hd .fx-menu a.on em{width:100%;left:0;}

.index-fx-bd .box{position:relative;height: 465px}
.index-fx-bd .fx-sel{position:absolute;top:-45px;right:0;}
.index-fx-bd .fx-sel select{float: left;background: #fff;cursor: pointer;display: block;height: 24px;line-height: 22px;border: 1px solid #f4f6fb;-webkit-appearance: none;background: url(../images/index_xl.png) no-repeat calc(100% - 8px) center;background-size: 10px 6px;padding-right: 22px;padding-left: 6px;font-size: 14px;color: #5a6073}
.index-fx-bd .fx-sel .select-1{width:92px;}

.index-fx-y .index-fx-bd{margin-top: 13px;}
.index-fx-y .index-fx-bd dt{border-bottom: 1px solid #F4F6FB;}
.index-fx-y .index-fx-bd dt p{float:left;font-size:14px;color:#9ca4bc;text-align:center;line-height: 32px;height: 32px;}
.index-fx-y .index-fx-bd dt p:nth-child(1){width:24px;text-align: center;}
.index-fx-y .index-fx-bd dt p:nth-child(2){width:245px;margin-left:16px;text-align:left;}
.index-fx-y .index-fx-bd dt p:nth-child(3){width:80px;float: right;text-align: center;}
.index-fx-y .index-fx-bd dd{display: block;transition: all .5s}
.index-fx-y .index-fx-bd dd .sortnum{width: 24px;text-align: center;font-size: 14px;color: #9CA4BC;float: left;height: 48px;line-height: 48px;}
.index-fx-y .index-fx-bd dd:nth-of-type(1) .sortnum{color: #FF5900}
.index-fx-y .index-fx-bd dd:nth-of-type(2) .sortnum{color: #FF8800}
.index-fx-y .index-fx-bd dd:nth-of-type(3) .sortnum{color: #F5A623}
.index-fx-y .index-fx-bd dd .second{float: left;margin-left: 16px;width: 290px;}
.index-fx-y .index-fx-bd dd .second a{display: block;height: 48px;line-height: 48px;font-size: 16px;color: #292b49;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.index-fx-y .index-fx-bd dd .second img{width: 20px;height: 20px;border-radius: 10px;float: left;margin-top: 14px;margin-right: 4px;}
.index-fx-y .index-fx-bd dd .d4{float: right;width: 80px;text-align: center;font-size: 14px;color: #296BEF;height: 48px;line-height: 48px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;font-family:Arial;cursor: pointer;}
.index-fx-y .index-fx-bd dd .d4 em{display: inline-block;width: 13px;height: 12px;background: url(../images/index_rank.png) no-repeat;background-size: 13px 12px;margin-left: 8px;}
.index-fx-y .index-fx-bd dd:hover{background: #f7f9fc;}
.index-fx-y .more-rank{display: block;margin-top: 5px;height: 40px;line-height: 40px;box-sizing: border-box;padding-left: 168px;font-size: 14px;color: #9ea5bb;background: url(../images/rank_more.png) no-repeat 146px center;background-size: 16px 16px;border-radius: 5px;}
.index-fx-y .more-rank:hover{background: url(../images/rank_more.png) no-repeat 146px center #F3F8FD;background-size: 16px 16px;}

.index-course-bd ul li{float: left;width: 332px;margin-right: 24px;margin-bottom: 24px;position: relative;height: 322px}
.index-course-bd ul li .libox{transition:all 0.3s;background: #fff;border-radius: 4px;overflow: hidden;}
.index-course-bd ul li:hover .libox{margin-top:-6px;box-shadow:0 0 10px #ddd;}
.index-course-bd ul li:nth-child(4n){margin-right: 0}
.index-course-bd ul li .pic{overflow: hidden;}
.index-course-bd ul li .pic img{width: 332px;height: 186px;}
.index-course-bd ul li .pic:hover img{transform: scale(1.04);}
.index-course-bd ul li .txt .txt-1{padding: 16px;border-bottom: 1px solid #F4F6FB}
.index-course-bd ul li .txt .txt-1 .title h2 a{font-weight: normal;font-size: 16px;color: #191C27;display: block;line-height: 24px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.index-course-bd ul li .txt .txt-1 .detail{margin-top: 12px}
.index-course-bd ul li .txt .txt-1 .detail .tag{float: left;padding-top: 2px}
.index-course-bd ul li .txt .txt-1 .detail .tag span{display: block;float: left;font-size: 12px;height: 24px;line-height: 24px;padding: 0 8px;background: #F3F7FA;color: #5A6073;margin-right: 8px;}
.index-course-bd ul li .txt .txt-1 .detail .tag span:last-child{margin-right: 0}
.index-course-bd ul li .txt .txt-1 .detail .price{float: right;font-size: 20px;color: #EF5350;line-height: 26px;vertical-align: bottom;}
.index-course-bd ul li .txt .txt-1 .detail .price em{font-size: 14px;color: #EF5350;display: inline-block;}
.index-course-bd ul li .txt .txt-2{padding: 10px 16px;}
.index-course-bd ul li .txt .txt-2 .author{float: left;}
.index-course-bd ul li .txt .txt-2 .author a{display: block;font-size: 14px;color: #191C27;line-height: 22px;}
.index-course-bd ul li .txt .txt-2 .author img{width: 22px;height: 22px;border-radius: 100%;margin-right: 4px;}
.index-course-bd ul li .txt .txt-2 .author span{font-size: 14px;color: #5A6073;margin-left: 4px}
.index-course-bd ul li .txt .txt-2 .views{float: right;font-size: 14px;color: #9EA1A7;line-height: 22px}

.index-tips-bg{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;background: rgba(0,0,0,.5);}
.index-tips-extraBox{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;}
.index-tips-extraBox .index-extraMain{width: 366px;height: 398px;position: fixed;z-index: 20;left: 50%;top: 50%;margin: -199px 0 0 -183px;background: #fff url(../images/index_pop_success.png) top 36px center no-repeat;background-size:146px auto;box-sizing: border-box;padding: 192px 0 0;border-radius:5px;}
.index-tips-extraBox .index-extraMain h2{font-size: 20px;color: #191c27;text-align: center;font-weight: normal;}
.index-tips-extraBox .index-extraMain p{font-size: 14px;color: #999999;line-height: 22px;margin-top: 10px;text-align: center;}
.index-tips-extraBox .index-extraMain a{display: block;margin: 30px auto 0 auto;width: 144px;height: 44px;line-height: 44px;text-align: center;font-size: 16px;color: #ffffff;background: #296bef;border-radius: 30px;}
.index-tips-extraBox .index-extraMain a:hover{box-shadow: 0 0 15px rgba(41,107,239,.3);}

.index-tips{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;}
.index-tips .index-extra{width: 366px;height: 398px;position: fixed;z-index: 20;left: 50%;top: 50%;margin: -199px 0 0 -183px;background: #fff url(../images/index_pop_fail.png) top 36px center no-repeat;background-size: 146px auto;box-sizing: border-box;padding: 192px 0 0;border-radius:5px;}
.index-tips .index-extra h2{font-size: 20px;color: #191c27;text-align: center;font-weight: normal;}
.index-tips .index-extra p{font-size: 14px;color: #999999;line-height: 22px;margin-top: 14px;text-align: center;}
.index-tips .index-extra a{display: block;margin: 30px auto 0 auto;width: 144px;height: 44px;line-height: 44px;text-align: center;font-size: 16px;color: #ffffff;background: #296bef;border-radius: 30px;}
.index-tips .index-extra a:hover{box-shadow: 0 0 15px rgba(41,107,239,.3);}

.fixed-left{width:80px;position:fixed;top:50%;left:50%;margin:-168px 0 0 -828px;z-index:1000;background:#fff;border-radius:5px;box-shadow:0 0 8px #eee;display:none;}
.fixed-left li{width:64px;height:55px;line-height:55px;border-bottom:1px solid #f4f6fb;margin:0 auto;font-size:13px;}
.fixed-left li a{display:block;color:#9ca4bc;padding-left:24px;cursor:pointer;}
.fixed-left li .on,.fixed-left li a:hover{color:#1875f0;}
.fixed-left li:nth-child(1) a{background:url(../images/fixed_1_gray.png) left 3px center no-repeat;background-size:16px auto;}
.fixed-left li:nth-child(1) .on,.fixed-left li:nth-child(1) a:hover{background:url(../images/fixed_1_blue.png) left 3px center no-repeat;background-size:16px auto;}
.fixed-left li:nth-child(2) a{background:url(../images/fixed_2_gray.png) left 3px center no-repeat;background-size:16px auto;}
.fixed-left li:nth-child(2) .on,.fixed-left li:nth-child(2) a:hover{background:url(../images/fixed_2_blue.png) left 3px center no-repeat;background-size:16px auto;}
.fixed-left li:nth-child(3) a{background:url(../images/fixed_5_gray.png) left 3px center no-repeat;background-size:16px auto;}
.fixed-left li:nth-child(3) .on,.fixed-left li:nth-child(3) a:hover{background:url(../images/fixed_5_blue.png) left 3px center no-repeat;background-size:16px auto;}
.fixed-left li:nth-child(4) a{background:url(../images/fixed_4_gray.png) left 3px center no-repeat;background-size:15px auto;}
.fixed-left li:nth-child(4) .on,.fixed-left li:nth-child(4) a:hover{background:url(../images/fixed_4_blue.png) left 3px center no-repeat;background-size:15px auto;}
.fixed-left li:nth-child(5){border-bottom:0;}
.fixed-left li:nth-child(5) a{background:url(../images/fixed_6_gray.png) left 3px center no-repeat;background-size:15px auto;}
.fixed-left li:nth-child(5) .on,.fixed-left li:nth-child(5) a:hover{background:url(../images/fixed_6_blue.png) left 3px center no-repeat;background-size:15px auto;}
@media all and (max-width:1680px){.fixed-left{left:0;margin:-168px 0 0 0;}}